{% extends 'authentication/base-auth.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
        {% if field.errors %}
            <div class="error-message">
                {% for error in field.errors %}
                    <p class='error-message'>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <button id="login-button" type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock body %}